<div  *ngIf="curUser.roles[0] === 'STUDENT'; then student else test">
</div>

<ng-template #test>
    <ngx-one-column-layout>
        <nb-menu [items]="menu"></nb-menu>
        <router-outlet></router-outlet>
    </ngx-one-column-layout>
</ng-template>

<ng-template #student>
    <nb-layout windowMode>
        <nb-layout-header fixed>
            <ngx-header></ngx-header>
        </nb-layout-header>s
        <nb-layout-column>
            <router-outlet></router-outlet>
        </nb-layout-column>
    </nb-layout>
</ng-template>
