<nb-layout>
    <nb-layout-column>
        <div class="row">
            <div class="col-12">
                <nb-card class="shadow-lg">
                    <nb-card-body class="p-0">
                        <div class="d-flex h-100">
                            <div class="col-7 login-img"></div>
                            <div class="col-5">
                                <div class="login-content">
                                    <h1>Signup !</h1>
                               
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>