nb-card{
    min-height: 80vh;
  }
  
  .topic{
    text-transform: uppercase;
    background-image:linear-gradient(to right, #775e54 0%, #636FA4  51%, #E8CBC0  100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  thead{
    background-image:linear-gradient(to right, #E8CBC0 0%, #636FA4  51%, #E8CBC0  100%);
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  