<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header >
                <button class="bg-transparent border-0 d-flex justify-content-start" (click)="backClicked()" >
                    <fa-icon  [icon]="faCircleChevronLeft" size="xl" ></fa-icon>
                </button>
                <h2 class="topic d-flex justify-content-center">Echeance IFRS</h2>
            </nb-card-header>
            <nb-card-body>
                <h3>TIE :</h3> <h5>2.26 %</h5>
                <br>
                <br>
                
                <table class="table table-hover table-bordered  animate__animated animate__backInUp">
                    <thead>
                        <tr>
                          <th scope="col" class="text-center">Date</th>
                          <th scope="col" class="text-center">CRDU</th>
                          <th scope="col" class="text-center">Ammortissement</th>
                          <th scope="col" class="text-center">Interet</th>
                          <th scope="col" class="text-center">Annuite</th>
                          <th scope="col" class="text-center">CRDU Fin periode</th>
                          <th scope="col" class="text-center">Frais Acquis</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">2017-08-07</td> 
                                <td class="text-center">0</td>
                                <td class="text-center">0</td>
                                <td class="text-center">0</td>
                                <td class="text-center">0</td>
                                <td class="text-center">10500</td> 
                                <td class="text-center">500</td> 
                                  
                            </tr>
                            <tr>
                                <td class="text-center">2018-08-07</td> 
                                <td class="text-center">10500</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">630</td>
                                <td class="text-center">1943</td>
                                <td class="text-center">9187.5</td> 
                                <td class="text-center">-</td>  
                            </tr>
                            <tr>
                                <td class="text-center">2019-08-07</td> 
                                <td class="text-center">9187.5</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">551</td>
                                <td class="text-center">1864</td>
                                <td class="text-center">7875</td> 
                                <td class="text-center">-</td>   
                            </tr>
                            <tr>
                                <td class="text-center">2020-08-07</td> 
                                <td class="text-center">7875</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">472</td>
                                <td class="text-center">1785</td>
                                <td class="text-center">6562.5</td> 
                                <td class="text-center">-</td>   
                            </tr>
                            <tr>
                                <td class="text-center">2021-08-07</td> 
                                <td class="text-center">6562.5</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">394</td>
                                <td class="text-center">1707</td>
                                <td class="text-center">5250</td>  
                                <td class="text-center">-</td>  
                            </tr>
                            <tr>
                                <td class="text-center">2022-08-07</td> 
                                <td class="text-center">5250</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">315</td>
                                <td class="text-center">1628</td>
                                <td class="text-center">3937.5</td> 
                                <td class="text-center">-</td>   
                            </tr>
                            <tr>
                                <td class="text-center">2023-08-07</td> 
                                <td class="text-center">3937.5</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">236</td>
                                <td class="text-center">1549</td>
                                <td class="text-center">2625</td> 
                                <td class="text-center">-</td>   
                            </tr>
                            <tr>
                                <td class="text-center">2024-08-07</td> 
                                <td class="text-center">2625</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">157</td>
                                <td class="text-center">1470</td>
                                <td class="text-center">1312.5</td> 
                                <td class="text-center">-</td>   
                            </tr>
                            <tr>
                                <td class="text-center">2025-08-07</td> 
                                <td class="text-center">1312.5</td>
                                <td class="text-center">1312.5</td>
                                <td class="text-center">79</td>
                                <td class="text-center">1392</td>
                                <td class="text-center">0</td>  
                                <td class="text-center">-</td>  
                            </tr>
                            
                        </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
