nb-card{
    width: 80vh;
  
  }
  
  .step-form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
  }
  
  button:focus{
    outline: none !important;
  }