<div class="row">
    <div class="col-md-12">
        <nb-card class="animate__animated animate__backInLeft">
            <nb-card-header class="text-center">
                <h2 class="topic">Upload Excel Document</h2>
            </nb-card-header>
            <nb-card-body>
                <div class="col-md-8  col-sm-12 mr-auto ml-auto mt-4" style="text-align:center">
                <form [formGroup]="fileForm">
                    <input type="file" multiple id="file" accept=".pdf"  formControlName="fileCtrl" (change)="onUploadFile($event)" >
                    <label for="file" class="input-file">
                        <fa-icon [icon]="faCloudArrowUp" size="xl" class="mr-2"></fa-icon>
                        Upload CV File
                      </label>
                      <div *ngIf="fileInput !== undefined" class="mb-2 animate__animated animate__zoomIn">
                          <ul class="mt-2">
                            <li><span class="text-success">File Name </span> : {{fileInput.name}}  </li>
                            <li><span class="text-success">File Size</span> : {{fileInput.size / 1000}} Ko</li>
                          </ul>

                      </div>
                      <div class="d-flex justify-content-center" style="margin-top:50px">
                       <button type="submit" status="success" 
                          nbButton (click)="ValideFile()" [disabled]="fileForm.invalid">Valide</button>
                      </div>
                </form>      
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
